<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
            <% if(locals.title){ %>
                <h2><%= title %></h2>
            <% } %>
            <% if(locals.user.username){ %>
                <h2><%= user.username %></h2>
            <% } %>
            <% if(locals.user.email){ %>
                <h2><%= user.email %></h2>
            <% } %>
    </section>
    <div style="clear: both"></div>
</body>
</html>