<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
    <h2>Login</h2>
    Username:<br>
    <input type="text"><br>
    Password:<br>
    <input type="password">
    </section>
    <div style="clear: both"></div>
</body>
</html>