<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
    <h2>Login</h2>
    <% if (locals.message) { %>
    <span style="color: green"><%= message %></span>
    <% } %>
    <form method="POST" action="/login">
    Email:<br>
    <% if (locals.email) { %>
    <input type="text" name="email" value="<%= email %>"><br>
    <% } else { %>
    <input type="text" name="email"><br>
    <% } %>
    Password:<br>
    <% if (locals.password) { %>
    <input type="password" name="password" value="<%= password %>"><br>
    <% } else { %>
    <input type="password" name="password"><br>
    <% } %>
    <input type="submit" value="Login">
    <% if (locals.errors){ %>
        <br><span style="color: red"><%= errors %></span>
        <br>
    <% } %>
    </form>
    </section>
    <div style="clear: both"></div>
</body>
</html>